* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('beach.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}